In [3]:
%%writefile myfile.txt
Hello thi is a text file
this is the second line
this is the third line

Overwriting myfile.txt

In [4]:
myfile = open('myfile.txt')

In [5]:
pwd

'C:\\Users\\FacundoFT\\Python Udemy\\Bootcamp\\Jupyter Notebook'

In [6]:
myfile = open('myfile.txt')

In [7]:
myfile.read()

'Hello thi is a text file\nthis is the second line\nthis is the third line\n'

In [8]:
myfile.read()

''

In [9]:
myfile.seek(0)

0

In [10]:
contents = myfile.read()

In [11]:
contents

'Hello thi is a text file\nthis is the second line\nthis is the third line\n'

In [18]:
myfile.seek(0)

0

In [19]:
myfile.readlines()

['Hello thi is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [20]:
myfile.close()

In [22]:
with open("myfile.txt") as my_new_file:
    contents = my_new_file.read()

In [23]:
contents

'Hello thi is a text file\nthis is the second line\nthis is the third line\n'

In [24]:
with open('myfile.txt') as myfile:
    contents = myfile.read()

In [80]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [81]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [82]:
with open('my_new_file.txt', mode = 'a') as f:
    f.write('\nFOUR ON FOURTH')

In [83]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

FOUR ON FOURTH

In [84]:
with open('a_file_to_try.txt', mode = 'w') as f:
    f.write('I CREATED A NEW FILE')

In [85]:
with open('a_file_to_try.txt', mode = 'r') as f:
    print(f.read())

I CREATED A NEW FILE

In [90]:
for line in open('my_new_file.txt'):
    print(line)

ONE ON FIRST

TWO ON SECOND

THREE ON THIRD



FOUR ON FOURTH

In [145]:
file1 = open('file_test.txt', 'w')
file1.write('Test to create and write a new file')
file1.close()

In [146]:
file1 = open('file_test.txt', 'a')
file1.write('\nThis is a new line')
#file1.close()

19

In [147]:
for line1 in open('file_test.txt'):
    print(line1)

Test to create and write a new file

In [148]:
file1.close()

In [149]:
for line1 in open('file_test.txt'):
    print(line1)

Test to create and write a new file

This is a new line