In [5]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [6]:
for num in my_list:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [20]:
# print only the even numbers
for num in my_list:
    if num % 2 == 0:
        print(num)
    else:
        print("Odd number: %s"%num)

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [29]:
# print only the even numbers
for num in my_list:
    if num % 2 == 0:
        print(num)
    else:
        print(f"Odd number: {num}")

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [33]:
list_sum = 0

for num in my_list:
    list_sum = list_sum + num

    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [34]:
list_sum = 0

for num in my_list:
    list_sum = list_sum + num

print(list_sum)

55

In [36]:
my_string = 'Hello World'

for letter in my_string:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [37]:
for _ in 'Hello World':
    print('Cool')

Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool

In [38]:
mylist1 = [(1,2),(3,4),(5,6),(7,8)]

In [39]:
len(mylist1)

4

In [40]:
for num in mylist1:
    print(num)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [41]:
for (a,b) in mylist1:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [42]:
for a,b in mylist1:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [43]:
d = {'k1':1,'k2':2,'k3':3}

In [44]:
for num in d:
    print(num)

k1
k2
k3

In [46]:
for num in d.items():
    print(num)

('k1', 1)
('k2', 2)
('k3', 3)

In [53]:
for key,values in d.items():
    print(key, values,)

k1 1
k2 2
k3 3

In [54]:
for value in d.values():
    print(value)

1
2
3